# Byte-compiled  optimized  DLL files
__pycache__/
*.pyc
make_synthetics/__pycache__
make_synthetics/model_chemery/
make_synthetics/synthetics_chemery/
make_synthetics/synthetics_chemery_old/


# C extensions
*.so

# Nose created egg files
dependency_links.txt
PKG-INFO
requires.txt
SOURCES.txt
top_level.txt
qsub_mpi_dcinv.sh
qsub_mpi_fast_dcinv.sh
qsub_mpi_dcinv.sh.e*
qsub_mpi_dcinv.sh.o*
qsub_mpi_fast_dcinv.sh.e*
qsub_mpi_fast_dcinv.sh.o*
qsub_mpi_dcinv_ny200.sh.e*
qsub_mpi_dcinv_ny200.sh.o*
qsub_mpi_dcinv_ny800.sh.e*
qsub_mpi_dcinv_ny800.sh.o*

# Specific folders:
logfiles/
build/
.idea/
make_synthetics/.idea
examples/data/synth_chemery_group/
examples/data/synth_chemery_phase/
examples/data_custom

# PBS related files
examples/test.sh
examples/test_sub

# Test results
*.png
output/
make_synthetics/synthetics_chemery
make_synthetics/model_chemery
examples/output
