# Byte-compiled  optimized  DLL files
__pycache__/
*.pyc

# C extensions
*.so

# Nose created egg files
dependency_links.txt
PKG-INFO
requires.txt
SOURCES.txt
top_level.txt
qsub_mpi_dcinv.sh
qsub_mpi_fast_dcinv.sh
qsub_mpi_dcinv.sh.e*
qsub_mpi_dcinv.sh.o*
qsub_mpi_fast_dcinv.sh.e*
qsub_mpi_fast_dcinv.sh.o*

# Specific folders:
logfiles/
build/
.idea/

# PBS related files
examples/test.sh
examples/test_sub

# Test results
*.png
output/
