# Byte-compiled  optimized  DLL files
__pycache__/
*.pyc

# C extensions
*.so

# Nose created egg files
dependency_links.txt
PKG-INFO
requires.txt
SOURCES.txt
top_level.txt

# Specific folders:
logfiles/
build/

# PBS related files
examples/test.sh
examples/test_sub

# Test results
*.png
output/
